NEXT_PUBLIC_CLIENTSIDE_SERVER_URL="http://localhost:3000"

# Use this if you are running the app locally
NEXT_PUBLIC_SERVERSIDE__DOCKER_SERVER_URL="http://localhost:3000"

# Use this if you are running the app via docker compose
# NEXT_PUBLIC_SERVERSIDE__DOCKER_SERVER_URL="http://server:3000"


AUTH_SECRET="kl+NHFSbbNiS/OT0QlnYnQP8TKoyqHAwgt/Hl9G9B+0=" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
ENV="dev"  # dev or prod